/* Error: expected ")".
 *     ,
 * 206 |   box-shadow: 0 2px 8px rgba(
 *     |                              ^
 *     '
 *   styles/_home-page.scss 206:30  @import
 *   styles/index.scss 18:9         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ")".\a     \2577 \a 206 \2502    box-shadow: 0 2px 8px rgba(\a     \2502                               ^\a     \2575 \a   styles/_home-page.scss 206:30  @import\a   styles/index.scss 18:9         root stylesheet';
}
