<h1 class="visibility-hidden">{{ help_center.name }}</h1>

<div id="main-content" class="container intranet-grid">
  <section class="announcements">
    <h2>Company Announcements</h2>
    <ul id="announcement-list" class="announcement-list"></ul>
  </section>

  <aside class="introductions">
    <h2>Introductions</h2>
    <ul id="introductions-list" class="introduction-list"></ul>
  </aside>
</div>
