<h1 class="visibility-hidden">{{ help_center.name }}</h1>

<div id="main-content" class="container intranet-grid">
    <section class="main-column">
        <section class="announcements home-section">
            <h2><a href="/hc/en-gb/sections/4970287381663-Company-Announcements">Company Announcements</a></h2>
            <div id="announcement-carousel" class="announcement-carousel"></div>
        </section>

        <section class="introductions home-section">
            <h2>Introductions</h2>
            <div id="introductions-grid"></div>
        </section>

        <section class="home-section">
            <div id="homepage-carousel"></div>
        </section>
    </section>

    <aside class="right-rail">
        <section class="department-rail home-section">
            <h2>Departments</h2>
            <ul class="blocks-list"></ul>
        </section>

        {{#if settings.show_recent_activity}}
            <section class="home-section recent-articles">
                <h2 class="recent-articles-title">Latest articles</h2>
                <ul id="latest-articles-list" class="recent-articles-list" aria-live="polite"></ul>
            </section>
        {{/if}}
    </aside>
</div>