<h1 class="visibility-hidden">{{ help_center.name }}</h1>

<div id="main-content" class="container intranet-grid">
  <section class="main-column">
    <section class="announcements home-section">
      <h2>Company Announcements</h2>
      <div id="announcement-carousel" class="announcement-carousel"></div>
    </section>

    <section class="introductions home-section">
      <h2>Introductions</h2>
      <div id="introductions-grid"></div>
    </section>
  </section>

  <aside class="right-rail">
    <section class="department-rail home-section">
      <h2>Departments</h2>
      <ul class="blocks-list"></ul>
    </section>

    {{#if settings.show_recent_activity}}
      <section class="recent-activity home-section">
        {{recent_activity scope='articles' limit=5}}
      </section>
    {{/if}}
  </aside>
</div>
