{{! Main Request Forms Listing Page }}
<h1>Request Forms</h1>

<h2>HR</h2>
<ul>
  <li><a href="/employee_onboarding_request">New Employee Onboarding</a></li>
  <li><a href="/employee_offboarding_request">Employee Offboarding</a></li>
</ul>

<h2>IT</h2>
<ul>
  <li><a href="/request_new_hardware">Request for New Hardware</a></li>
  <li><a href="/request_new_software">Request for New Software</a></li>
  <li><a href="/request_new_google_group">Request New Google Group</a></li>
</ul>

<h2>Sales</h2>
<ul>
  <li><a href="/sales_ops_request">Sales Ops</a></li>
</ul>

