/* Sidebar navigation that collapses on mobile */
.collapsible-sidebar {
  @include desktop {
    max-height: none !important;
    overflow: visible !important;
    padding: 0 0 0 30px;
    display: block;
  }
  flex: 1;
  max-height: none !important;
  overflow: visible !important;
  padding: 10px 0;
  position: relative;

  &.expanded {
    max-height: none !important;
    overflow: visible !important;
    display: block;
  }

  &-body {
    display: block !important;
    max-height: none !important;
    overflow: visible !important;
  }

  &-toggle {
    display: none !important;
  }
}
